#d1{   
    width: 300px; 
    height: 200px; 
    border: 1px solid #000;
    background-color: green;
    margin: 10px;
    padding: 10px;
    position: relative;
    top: 100px;
    left: 400px;
}
#d2{   
    width: 100px; 
    height: 100px; 
    border: 1px solid #000;
    background-color: red;
    position: absolute;
    top: 60px;
    left: 110px;
    border-radius: 50%;
}
.c1{   
    width: 100px; 
    height: 100px; 
    border: 1px solid #000;
    background-color: yellow;
}